@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Play&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        font-family: 'Play', sans-serif;
}

.header {
        background: rgb(252, 207, 9);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20vh;
        padding: 0 50px 0 20px;
}

.logo {
        height: 90%;
}

.lista_links {
        display: flex;
        gap: 30px;
        list-style: none;
        font-size: 20px;
}

.link {
        color: black;
        margin: 1rem;
}

.link:hover {
        margin: 0;
        padding: 1rem;
        background: rgb(237, 28, 36);
        color: white;
}

.info {
        background: rgb(253, 255, 252);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        gap: 5rem;
}

.botones {
        margin-top: 2rem;
        display: flex;
        gap: 25px;
}

.boton {
        border: 5px solid black;
        padding: 1rem 1.5rem;
        border-radius: 50px;
        font-size: 20px;
}

.learn {
        background-color: white;
        color: black;
}

.contact {
        background: rgb(252, 207, 9);
        color: black;
}

a {
        text-decoration: none;
}

.info h1 {
        max-width: 500px;
        font-size: 50px;
        color: black;
}

.info p {
        max-width: 500px;
        color: black;
}

.texto_botones {
        display: flex;
        flex-direction: column;
        gap: 25px;
        font-size: 20px;
}

.imagen {
        width: 500px;
        height: auto;
        border-radius: 5px;
}

.descripcion {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 50vh;
        background: black;
}

.desc_texto {
        max-width: 750px;
        font-size: 20px;
        color: antiquewhite;
}

.ventajas {
        height: 80vh;
        text-align: center;
        margin: 2rem;
}

.titulo_beneficios {
        margin-bottom: 2rem;
        font-size: 40px;
}

.intro_beneficios {
        margin: 2rem;
        font-size: 20px;
}

.container_ventajas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
}

.beneficios {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 400px;
        background-color: rgb(237, 28, 36);
        padding: 1rem;
        border-radius: 30px;
}

.icono_beneficios {
        font-size: 100px;
}

.nombre_beneficios {
        font-size: 30px;
        color: white;
}

.descrip_beneficio {
        font-size: 20px;
        color: white;
}



.working_mode {
        height: 90vh;
        text-align: center;
        padding: 3rem 2rem;
        background-color: rgb(77, 5, 147);
}

.titulo_trabajo {
        margin-bottom: 2rem;
        font-size: 40px;
        color: azure;
}

.intro_secuencia {
        margin: 2rem;
        font-size: 20px;
        color: white;
}

.container_secuencia {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
}

.paso {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 300px;
        background-color: white;
        padding: 1rem;
        border-radius: 30px;
}

.icono_pasos {
        font-size: 100px;
}

.nombre_pasos {
        font-size: 30px;
        color: black;
}

.descrip_pasos {
        font-size: 20px;
        color: black;
}